html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

.searchResults {
  list-style-type: none;
}

.container-fluid {
  width: 35vw;
  margin-left: 5vw;
}

.weatherconditions {
  list-style-type: none;
  padding-left: 0px;
}